* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, sans-serif;
}

.box-table {
  margin-left: 1.87rem;
  margin-right: 1.87rem;
  margin-top: 1.87rem;
}

/* vermelho #FF0000
verde #00FF00
laranja #FFA500
azul #1C75BC */

.box-header {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: start;
  /* flex-direction: column;
  align-items: start; */

  margin-bottom: 1.87rem;
}
  
h1 {
  color: #1C75BC;
  /* margin-bottom: 0.8rem; */
}

.btn1 {
  background-color: #1C75BC;
  color: white;
  border: none;
  border-radius: 0.25rem;
  padding: 0.62rem 0.62rem;
  cursor: pointer;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 0.62rem;
  text-align: left;
  color: #264653;
}

th {
  background-color: #e76f51;
  color: white;
  /* padding-right: 20px; */
}

th.actions {
  text-align: end;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.btn-actions {
  /* border: 1px solid red; */
  padding-right: 0;
  display: flex;
  justify-content: end;
  gap: 10px;
}
.btn {
  background-color: #e9c46a;
  color: white;
  border: none;
  border-radius: 0.25rem;
  padding: 0.37rem 0.62rem;
  cursor: pointer;
  /* margin-right: 0.31rem; */
  /* display: flex;
  justify-content: center; */
}

.btn.btn-edit {
  background-color: #83d48e;
}

.btn.btn-delete {
  background-color: #f05558;
}

