@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* body {
    background-color: rgba(255, 255, 255, 0.7);
    background-image: linear-gradient(45deg, #1C75BC, #FFA500 );
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
} */

.box-cards {
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;

    gap: 0.6rem;
    /* flex-wrap: wrap;  */
    /* flex-flow: wrap; */

    margin-right: 1.87rem;
    margin-left: 1.87rem;
    margin-top: 1.87rem;
    /* margin-right: 100px;
    margin-left: 100px; */

    /* width: 100%; */
}

.box-card {
    border: none;

    border: 1px solid black;
    /* width: 16.25rem; */

    /* adicionei */
    width: 100%;

    /* width: 19rem; */
    height: 8.75rem;
    border-radius: 0.5rem;
    /* background-color: #1C75BC; */
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.4);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.25rem;

    border: 1px solid black;

    /* width: 100%;
    gap: 30px; */
}

.box-card .box-lado-a {
    /* border: 1px solid blue; */
    width: 7.1rem;

    /* width: 8.43rem; */
    height: 6.25rem;

    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.box-card .box-lado-a h5 {
    /* color: white; */
    color:#1C75BC;
    font-size: 0.75rem; 
    font-weight: 500;
    /* color: brown; */
}

.box-card .box-lado-a .numero {
    font-size: 1.25rem;
    font-weight: 500;
    /* color: #FFA500; */
    color: #f05558;
}

.box-card .box-lado-a .data {
    font-size: 0.62rem;
}

.box-card .box-lado-b {
    border: 1px solid black;

    width: 2.5rem;
    /* width: 4.06rem; */
    height: 6.25rem;
    /* margin-left: 80px; */
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}

.box-card .box-lado-b img {
    width: 2.5rem;
    height: auto;
}